/* body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0; 
} */

#map {
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 1;
}

.ui {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
    /* Ensure this is higher than the map's z-index */
    background-color: rgba(255, 255, 255, 0.8);
    /* Optional: Add a background to make the UI more readable */
    padding: 10px;
    border-radius: 5px;
}

.leaflet-control-zoom {
    background-color: #f4f4f4 !important;
    /* trying to make the buttons not look terrible. I think they are trying to grab css from like 3 different places and getting confused */
}