body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.badge-container {
  position: relative;
  width: 300px; /* Adjust size as needed */
  height: 300px; /* Adjust size as needed */
}

.constellation-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -46%);
  width: 67%; /* Adjust size to fit inside the inner circle */
  height: 67%; /* Adjust size to fit inside the inner circle */
  border-radius: 50%; /* Make the image circular */
  overflow: hidden; /* Ensure the image stays within the circle */
}

.constellation-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the circle */
}

#badge-svg {
  width: 100%;
  height: 100%;
}

.badge-colour-1 { fill: #000000; }
.badge-colour-2 { fill: #FFFFFF; }
.badge-colour-3 { fill: #888888; }
.badge-colour-1, .badge-colour-2, .badge-colour-3 { stroke-width: 0px; }

.badge-bronze-1 { fill: #501c07; }
.badge-bronze-2 { fill: #cc852d; }
.badge-bronze-3 { fill: #774a20; }
.badge-bronze-1, .badge-bronze-2, .badge-bronze-3 { stroke-width: 0px; }

.badge-silver-1 { fill: #3f3a39; }
.badge-silver-2 { fill: #dddce3; }
.badge-silver-3 { fill: #9194ac; }
.badge-silver-1, .badge-silver-2, .badge-silver-3 { stroke-width: 0px; }

.badge-gold-1 { fill: #b5640b; }
.badge-gold-3 { fill: #f7bd02; }
.badge-gold-2 { fill: #fff038; }
.badge-gold-1, .badge-gold-2, .badge-gold-3 { stroke-width: 0px; }